html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1; /* This ensures the main content area takes up the remaining space */
  display: flex;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #222;
  padding: 10px;
  color: white;
  text-align: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white; /* Change color to white */
}